
<div style=" position: fixed;top: 20%;left: 50%;  margin-top: -50px;margin-left: -100px;">
  <img src="assets/add_profile_img3.png" width="150px"/>
  <h1>Eyes Blinking </h1>
  <form [formGroup]="registerForm">
    <input type="text" placeholder="enter your first name" style="margin: 5px;"><br>
    <input type="text" placeholder="enter your last name" style="margin: 5px;"><br>
    <input type="text" placeholder="enter your email " style="margin: 5px;"><br>
    <input type="text" placeholder="enter your password " style="margin: 5px;"><br>
    <input type="text" placeholder="enter your birthday " style="margin: 5px;"><br>
    <input type="text" placeholder="enter your gender " style="margin: 5px;"><br>
    <button routerLink="/register">Register</button>
    <button routerLink="/login">Login</button>
  </form>
</div>
